body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.todo-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-transform: uppercase;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
}

#task-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 150px;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

.fa-solid {
    background-color: green;
    font-size: 12px;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

button.delete-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 20%;
    border-radius: 4px;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}


@media screen and (max-width: 530px) {
    .filters {
        flex-direction: column;
        /* align-items: center; */
        gap: 10px;
    }

    .filters button {
        width: 100%;
    }

    li span {
        overflow-wrap: anywhere; /* overflow-wrap cria uma quebra se uma palavra inteira não puder ser colocada em sua própria linha sem transbordar. */
    }
}